<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fixawy">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fixawy">
        <activity android:name=".Client.SelectedPage.SelectedActivity"></activity>
        <activity android:name=".Client.AcceptedWorkerPage.AcceptedWorkActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Worker.WorkerSettingPage.WorkerSettingActivity" />
        <activity android:name=".Worker.WorkerProfilePage.WorkerProfileActivity" />
        <activity android:name=".Worker.SelectJobPage.SelectJobActivity" />
        <activity android:name=".Worker.ReplayQuestionsPage.ReplayQuestionActivity" />
        <activity android:name=".Worker.HomePageWorker.HomePageWorkerActivity" />
        <activity android:name=".Worker.HistoryJobsPage.HistoryJobActivity" />
        <activity android:name=".Worker.DetailsJobPage.DetailsJobActivity" />
        <activity android:name=".Client.ShowAllWorkerPage.ShowAllWorkerActivity" />
        <activity android:name=".Client.SelectedSpecificWorkerPage.SelectedWorkerActivity" />
        <activity android:name=".Client.RatingPage.RatingActivity" />
        <activity android:name=".Client.PreviousQuestionPage.PreviousQuestionActivity" />
        <activity android:name=".Client.HistoryPage.HistoryActivity" />
        <activity android:name=".Client.EditPage.EditActivity"></activity>
        <activity android:name=".Client.ClientSettingPage.ClientSettingActivity" />
        <activity android:name=".Client.AskQuestionPage.AskQuestionActivity" />
        <activity android:name=".Client.RequestedPage.RequestedActivity" />
        <activity android:name=".Client.SelectKindOfChoicePage.SelectKindOfChoiceActivity"></activity>
        <activity android:name=".Client.HomePageClient.HomePageClientActivity">

        </activity>
        <activity android:name=".Share.LoginPage.LoginActivity" />
        <activity android:name=".Share.RegisterPage.RegisterActivity" />
        <activity android:name=".Share.SelectionPage.SelectMembershipType"></activity>
        <activity android:name=".Share.SplashScreen.SplashScreen" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>