<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.fixawy">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fixawy">
        <activity android:name=".Worker.JobAccepted.JobAcceptedActivity"></activity>
        <activity android:name=".Worker.MapActivity.MapActivity" />
        <activity android:name=".Client.ReplyQuestions.AnswerActivity" />
        <activity android:name=".Worker.WorkerQuestions.WorkerQuestionsActivity" />
        <activity android:name=".Client.AllPreviousQuestions.AllPreviousQuestionsActivity" />
        <activity android:name=".Worker.HomePageWorker.RequestedHomePageActivity" />
        <activity
            android:name=".Client.MakeOrder.ClientMakeOrder"
            android:label="@string/app_name" />
        <activity
            android:name=".Client.MakeOrder.PaymentDetailsActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".Client.MakeOrder.CreditCardActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".Client.MakeOrder.TestActivity"
            android:label="@string/app_name" />
        <activity android:name=".Client.SelectedPage.SelectedActivity" />
        <activity android:name=".Client.AcceptedWorkerPage.AcceptedWorkActivity" />
        <activity android:name=".Share.Homes.WorkerHome" />
        <activity android:name=".Share.Homes.OwnerHome" />
        <activity android:name=".Share.VerifyCode.ReceiveCode" />
        <activity android:name=".Share.ChangePassword.ChangePassword" />
        <activity android:name=".Share.ForgetPassword.ForgetPassword" />
        <activity android:name=".Worker.WorkerSettingPage.WorkerSettingActivity" />
        <activity android:name=".Worker.WorkerProfilePage.WorkerProfileActivity" />
        <activity android:name=".Worker.SelectJobPage.SelectJobActivity" />
        <activity android:name=".Worker.ReplayQuestionsPage.ReplayQuestionActivity" />
        <activity android:name=".Worker.HistoryJobsPage.HistoryJobActivity" />
        <activity android:name=".Worker.DetailsJobPage.DetailsJobActivity" />
        <activity android:name=".Client.ShowAllWorkerPage.ShowAllWorkerActivity" />
        <activity android:name=".Client.SelectedSpecificWorkerPage.SelectedWorkerActivity" />
        <activity android:name=".Client.RatingPage.RatingActivity" />
        <activity android:name=".Client.PreviousQuestionPage.PreviousQuestionActivity" />
        <activity android:name=".Client.HistoryPage.HistoryActivity" />
        <activity android:name=".Client.EditPage.EditActivity" />
        <activity android:name=".Client.ClientSettingPage.ClientSettingActivity" />
        <activity android:name=".Client.AskQuestionPage.AskQuestionActivity" />
        <activity android:name=".Client.RequestedPage.RequestedActivity" />
        <activity android:name=".Client.SelectKindOfChoicePage.SelectKindOfChoiceActivity" />
        <activity android:name=".Client.HomePageClient.HomePageClientActivity" >

        </activity>
        <activity android:name=".Share.LoginPage.LoginActivity" />
        <activity android:name=".Share.VerifyCode.VerificationCode" />
        <activity android:name=".Share.RegisterPage.RegisterActivity" />

        <service android:name=".reminder.MyService" />

        <receiver
            android:name=".reminder.MyReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".Share.SelectionPage.SelectMembershipType">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Share.SplashScreen.SplashScreen" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>